# Config file with sensitive data
config.py

# Database
portfolio.db

# Test Files
AAPL_daily.json
AAPL_intraday_current.json

# Virtual Environment
.venv/

# Python cache files
__pycache__/

*.pyc
.DS_Store