.submit-button {
border: none;
background-color: rgb(103, 103, 252);
color: white;
font-size: 16px;
margin-left: 12px;
padding: 11px;
}

.search-bar {
  width: 600px;
  height: 35px;
  font-size: 16px;
}
